<%= form_for(@questionario_resposta) do |f| %>
  <% if @questionario_resposta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionario_resposta.errors.count, "error") %> prohibited this questionario_resposta from being saved:</h2>

      <ul>
      <% @questionario_resposta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :questionario_id %><br>
    <%= f.text_field :questionario_id %>
  </div>
  <div class="field">
    <%= f.label :participante_id %><br>
    <%= f.text_field :participante_id %>
  </div>
  <div class="field">
    <%= f.label :pergunta_id %><br>
    <%= f.text_field :pergunta_id %>
  </div>
  <div class="field">
    <%= f.label :alternativa_id %><br>
    <%= f.text_field :alternativa_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
