<p id="notice"><%= notice %></p>

<h2>Questionários</h2>

<% if @questionarios.count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Início</th>
          <th>Fim</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @questionarios.each do |questionario| %>
          <tr>
            <td><%= questionario.nome %></td>
            <td><%= questionario.vigencia_inicio.strftime("%d/%m/%Y") %></td>
            <td><%= questionario.vigencia_fim.strftime("%d/%m/%Y") %></td>
            <td><%= link_to 'Editar', edit_questionario_path(questionario) %></td>
            <td><%= link_to 'Excluir', questionario, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<div class="btn btn-info"><%= link_to 'Cadastrar novo', new_questionario_path %></div>