<p id="notice"><%= notice %></p>

<h1>Listing Questionarios Participantes</h1>

<table>
  <thead>
    <tr>
      <th>Questionario</th>
      <th>Participante</th>
      <th>Pontuacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionarios_participantes.each do |questionario_participante| %>
      <tr>
        <td><%= questionario_participante.questionario %></td>
        <td><%= questionario_participante.participante %></td>
        <td><%= questionario_participante.pontuacao %></td>
        <td><%= link_to 'Show', questionario_participante %></td>
        <td><%= link_to 'Edit', edit_questionario_participante_path(questionario_participante) %></td>
        <td><%= link_to 'Destroy', questionario_participante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionario participante', new_questionario_participante_path %>
