<p id="notice"><%= notice %></p>

<p>
  <strong>Questionario:</strong>
  <%= @questionario_participante.questionario %>
</p>

<p>
  <strong>Participante:</strong>
  <%= @questionario_participante.participante %>
</p>

<p>
  <strong>Pontuacao:</strong>
  <%= @questionario_participante.pontuacao %>
</p>

<%= link_to 'Edit', edit_questionario_participante_path(@questionario_participante) %> |
<%= link_to 'Back', questionarios_participantes_path %>
