<p id="notice"><%= notice %></p>
<p>
  <strong>Questionário:</strong>
  <%= @questionario_pergunta.questionario.nome %>
</p>
<p>
  <strong>Pergunta:</strong>
  <%= @questionario_pergunta.pergunta.descricao %>
</p>
<button type="submit" class="btn btn-info"><%= link_to 'Editar', edit_questionario_pergunta_path(@questionario_pergunta) %> </button>
<button type="submit" class="btn btn-danger"><%= link_to 'Voltar', "/questionarios/#{@questionario_pergunta.questionario.id}/perguntas/adicionar" %></button>