<p id="notice"><%= notice %></p>

<h1>Listing Participantes</h1>

<table>
  <thead>
    <tr>
      <th>Re</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participantes.each do |participante| %>
      <tr>
        <td><%= participante.re %></td>
        <td><%= participante.nome %></td>
        <td><%= link_to 'Show', participante %></td>
        <td><%= link_to 'Edit', edit_participante_path(participante) %></td>
        <td><%= link_to 'Destroy', participante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participante', new_participante_path %>
