<p id="notice"><%= notice %></p>

<p>
  <strong>Re:</strong>
  <%= @participante.re %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @participante.nome %>
</p>

<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
