<%= form_for(@alternativa, html: {class:'form-horizontal'}) do |f| %>
  <% if @alternativa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternativa.errors.count, "error") %> prohibited this alternativa from being saved:</h2>

      <ul>
      <% @alternativa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selecione_a_pergunta %><br>
    <select  name="alternativa[pergunta_id]" id="alternativa_pergunta_id" class="form-control">
      <% @perguntas.each do |pergunta| %>
          <option value="<%=pergunta.id%>"><%=pergunta.descricao %></option>
      <% end %>
    </select>
  </div>

    <div class="field">
    <%= f.label :descrição %><br>
    <%= f.text_field :descricao, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :selecione_se_esta_for_a_resposta_correta %> <%= f.check_box :correto %>
  </div>

   <div class="actions">
     <button type="submit" class="btn btn-success">Salvar alternativa</button>
   </div>
<% end %>
