<p id="notice"><%= notice %></p>

<h2>Alternativas</h2>

<% if @alternativas.count > 0 %>
<table class="table table-striped">
  <tbody>
    <% aux = nil %>
    <% @alternativas.each do |alternativa|
        if aux != alternativa.pergunta.id
             aux = alternativa.pergunta.id %>
            <tr>
              <td><b> <%= alternativa.pergunta.descricao %></b></td>
              <td colspan="3"></td>
            </tr>
        <% end %>
      <tr>
        <td class="espacamento_esquerda"><%= alternativa.descricao %></td>
        <td><%= alternativa.correto == false ? alternativa.correto.to_s.gsub("false", "Incorreta") : alternativa.correto.to_s.gsub("true", "Correta") %></td>
        <td><%= link_to 'Editar', edit_alternativa_path(alternativa) %></td>
        <td><%= link_to 'Excluir', alternativa, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div type="submit" class="btn btn-info"><%= link_to 'Cadastrar nova', new_alternativa_path %></div>