<p id="notice"><%= notice %></p>

<p>
  <strong>Pergunta:</strong>
  <%= @alternativa.pergunta.descricao %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @alternativa.descricao %>
</p>

<p>
  <strong>Correto:</strong>
  <%= @alternativa.correto == false ? @alternativa.correto.to_s.gsub('false','Não') : @alternativa.correto.to_s.gsub('true','Sim') %>
</p>

<div class="btn btn-info"><%= link_to 'Editar', edit_alternativa_path(@alternativa) %></div>
<div class="btn btn-danger"><%= link_to 'Voltar', alternativas_path %></div>